{{ define "admin_dashboard" }}
<section class="products-grid pb-4 pt-4">
    <div class="container">
        <div class="row mb-2">
            <div class="col-12 text-right">
                <a href="/admin/products/new" class="btn btn-success btn-sm">Add Product</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .products }}
                        <tr>
                            <td>
                                <div class="d-flex mb-2">
                                    <div class="flex-shrink-0">
                                        <img src="/public/{{.ImagePath}}" class="img-fluid" style="width: 40px; height: 50px;"/>
                                    </div>
                                </div>					
                            </td>
                            <td>{{ .Name }}</td>
                            <td>{{ .Description }}</td>
                            <td>{{ .Price }}</td>
                            <td>{{ .Stock }}</td>
                            <td>
                                <a href="/products/edit/{{ .ID }}" class="btn btn-primary btn-sm">Edit</a>
                                <form method="POST" action="/products/delete/{{ .ID }}" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{{ end }}
