{{ define "products" }}
<section class="breadcrumb-section pb-3 pt-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </div>
</section>
<section class="products-grid pb-4 pt-4">
    <div class="container">
        <div class="row mb-4 justify-content-center"> <!-- Centering the form horizontally -->
            <div class="col-lg-6 col-md-8 col-12">
                <form method="GET" action="/products" class="form-inline justify-content-center">
                    <input type="text" name="search" class="form-control mr-2" placeholder="Cari produk..." />
                    <button type="submit" class="btn btn-primary">Cari</button>
                </form>
            </div>
        </div>
        <div class="row">
            {{ range $index, $product := .products }}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
                <div class="single-product">
                    <div class="product-img text-center"> <!-- Centering the image -->
                        <a href="/products/{{ $product.Slug }}">
                            <img src="/public/{{ $product.ImagePath }}" class="img-fluid" />
                        </a>
                    </div>
                    <div class="product-content">
                        <h3><a href="/products/{{ $product.Slug }}">{{ $product.Name }}</a></h3>
                        <div class="product-price">
                            <span>{{ $product.Price }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <!-- Pagination section -->
        <div class="row justify-content-center"> <!-- Centering pagination horizontally -->
            <div class="col-md-12">
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        {{ template "pagination" . }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

{{ end }}
